{%extends 'base.html'%}
{%block body_block%}

<div class="container-fluid" style="background-color: rgb(255, 253, 253);">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {%if messages%}
            {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            {% endfor %}
          {%endif%}
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3><i class="fa-sharp fa-solid fa-user"></i>{{request.user}}</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" name="" id="" value="Post" class="btn btn-success mb-2">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row mt-4">
        {%for q in questions%}
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4 border border-dark border border-2">
                {%if q.image%}
                    <a href="#!"><img class="card-img-top" src="{{q.image.url}}" alt="..." /></a>

                {%endif%}
                <div class="card-body">
                    <h2 class="card-title h4">{{q.description}}</h2>
                    <div class="small text-muted"><i class="fa-sharp fa-solid fa-user"></i>{{q.user}}</div>
                    <div class="small text-muted"><i class="fa-sharp fa-solid fa-calendar"></i>{{q.asked_date}}</div>
                    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p> -->
                    <a class="btn btn-primary form-control" href="{%url 'question-details' q.id%}">Details</a>
                    </div>
                </div>
            </div>
  <div class="col-lg-3">
            
</div>
  {%endfor%}
    </div>
</div>

{%endblock%}