{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row mt-4">
        {%for q in questions%}
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4 border border-dark border border-2">
                {%if q.image%}
                    <a href="#!"><img class="card-img-top" src="{{q.image.url}}" alt="..." /></a>

                {%endif%}
                <div class="card-body">
                    <h2 class="card-title h4">{{q.description}}</h2>
                    <!-- <div class="small text-muted">{{q.user}}</div> -->
                    <div class="small text-muted"><i class="fa-sharp fa-solid fa-calendar"></i>{{q.asked_date}}</div>
                    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p> -->
                    <a class="btn btn-danger" href="{%url 'delete-myquestion' q.id%}">Remove</a>
                    </div>
                </div>
            </div>
  <div class="col-lg-3">
            
</div>
  {%endfor%}
</div>

{%endblock%}